$fontMonstserrat : Montserrat, sans-serif;
$fontInter : inter, sans-serif;
$fontManrope : manrope, sans-serif;
$fontOpenSans : open-sans, sans-serif;

body{

    .holder{
        background-image:none;
        background-color: #FEFEFA;
    }
    .content{
        position: static;
    }

    .detail-page-container{
        width: 100%;
        .detail-vedio-div{
            padding-top: 50px;
            width: 651px;
            margin: auto;
            position: relative;

            .back-vedio-image{
                img{
                    width: 651px;
                    box-shadow: 0px 1px 10px #516AA4;
                }
               
            }

            .vedio-icon{
                position: absolute;
                top: 270px;
                left: 290px;
                box-shadow: none;
                cursor: pointer;
            }

            .content-detail{
                margin-top: 10px;
                h4{
                    font-family: $fontMonstserrat;
                    font-weight: bold;
                    font-size: 40px;
                    text-align: center;
                }

                .paster-date{
                    width: 651px;
                    display: inline-flex;
                    justify-content: center;
                    p{
                        padding: 0px 5px;
                        font-size: 16px;
                        font-family: $fontMonstserrat;
                    }
                }

                .download-opt{
                    margin: 20px 0px;
                    text-align: center;

                    .put-border{
                        border: 1px solid black;
                        padding: 15px 0px;
                        width: 50%;

                        .down-icon-sec{
                            margin-bottom: 5px;
                        }
                        h6{
                            font-family: $fontMonstserrat;
                            font-size: 12px;
                            font-weight: 500;
                        }
                        
                    }
                }
            }

        }

        .detail-notes{
            width: 90%;
            margin: auto;
            text-align: left;
            font-family: $fontMonstserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            padding-bottom: 50px;
        }
    }
}

@media (max-width:1025px){
    
    body{
        .detail-page-container{
            .detail-vedio-div{
                padding-top: 50px;
                width: 500px;
                .back-vedio-image{
                    img{
                        width: 500px;
                    }
                }
                .vedio-icon{
                    top: 220px;
                    left: 220px;
                    width: 70px;
                }
    
                .content-detail{
                    h4{
                        font-size: 35px;
                        text-align: center;
                    }
    
                    .paster-date{
                        width: 500px;
                        p{
                            font-size: 15px;
                        }
                    }
    
                    .download-opt{
                        .put-border{
                            width: 50%;
                            .down-icon-sec{
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
    
            }
            .detail-notes{
                font-size: 15px;
            }
        }
    }
}

@media (max-width:684px){
    body{
        .detail-page-container{
            .detail-vedio-div{
                .content-detail{
                    .download-opt{
                        .put-border{
                            width: 100%;
                            .down-icon-sec{
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
            }
            .detail-notes{
                font-size: 15px;
            }
        }
    }
}



@media (max-width:580px){
    body{

        .search-screen-img{
            height: 3000px;
    
            .book-image{
                height: 100%;
            }
        }

        .detail-page-container{
            .detail-vedio-div{
                width: 300px;
                .back-vedio-image{
                    img{
                        width: 300px;
                    }
                }
                .vedio-icon{
                    width: 50px;
                    top: 145px;
                    left: 130px;
                }
    
                .content-detail{
                    h4{
                        font-size: 25px;
                    }
    
                    .paster-date{
                        width: 300px;
                        p{
                            font-size: 12px;
                        }
                    }
    
                    .download-opt{
                        margin: 20px 0px;
                        text-align: center;
    
    
                        .put-border{
                            .down-icon-sec{
                                margin-bottom: 8px;
                            }
                            h6{
                                margin-top: 5px;
                                font-size: 12px;
                                padding: 0px 20px;
                            }
                            
                        }
                    }
                }
    
            }
            .detail-notes{
                font-size: 12px;
            }
        }
    }
}