$fontMonstserrat : Montserrat, sans-serif;
$fontInter : inter, sans-serif;
$fontManrope : manrope, sans-serif;
$fontOpenSans : open-sans, sans-serif;


body{
    margin: 0%;
    padding: 0%;
    width: 100%;

    .wrapper{
        width: 100%;
        height: 900px;

        .myVideo{
            height: 900px;
            background-size: cover;
        }
    }
    
    .content{
        top: 0%;
        position: absolute;
        width: 100%;
        display: table;
        clear: both;

        .top-nav {
            overflow: hidden;
            content: '';
            clear: both;
            display: table;
            width: 100%;

            .left{
                width: 15%;
                float: left;
                padding: 30px;
            }

            .right{
                float: right;
                width: 55%;
                margin-top: 60px;
                
                a {
                    float: left;
                    color: #ffffff;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    font-family: $fontMonstserrat;
                    font-weight: 600;
                }

                #icon {
                    display: none;
                }
            }
            .right.responsive{
                width: 150px;
                background-color: rgba(68, 65, 65, 0.343);
                position: relative;
                border-radius: 5px;
                z-index: 1;

                a {
                    display: block;
                    width: 200px;
                    padding: 15px 5px 15px 10px;
                    text-align: left;
                }
                #icon {
                    width: 35px;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .top-nav.responsive{
                .right{
                    .icon {
                    display: block;
                    position: absolute;
                        right: 0;
                        top: 0;
                    } 
                    a{
                        display: block;
                        text-align: left;
                    }
                }
            }
        }
    }
    .center-content{
        top: 0%;
        position: absolute;
        margin: 300px 0px 0px 200px;
        text-align: left;
        h2{
            width: 84%;
            text-align: left;
            font-family: $fontInter;
            font-size: 50px;
            font-weight: 500;
            color: white;
            padding: 20px 0px;
        }
        p{
            width: 60%;
            font-family: $fontManrope;
            font-weight: 400;
            font-size: 19px;
            color: rgba(255, 255, 255, 0.612);
            line-height: 1.5;
            height: 115px;
            margin-bottom: 40px;
        }
        a{
            font-family: $fontMonstserrat;
            font-size: 16px;
            padding: 15px 40px;
            text-decoration: none;
            border-radius: 8px;
            color: white;
            background-color: #161718;
            border: 0.2px solid white;
            box-shadow: 0px 1px 10px white;
            font-weight: bold;
        }
        a:hover{
            background-image: url('https://framerusercontent.com/images/DzUnxO8nIp8NlFQ4Rralxbdu5jU.jpg?scale-down-to=4096');
        }
    }

    footer{
        background-image: url('https://framerusercontent.com/images/rX3s5jtZ4spiYfb24VBSEi1nA.jpg?scale-down-to=4096');
        padding: 35px 0px;
        background-repeat: no-repeat;
        background-size: cover;

        .row{
            width: 90%;
            margin: auto;

            .col-5{
                padding: 0%;
                #logo-info{
                    #foot-logo{
                        width: 60px;
                        margin-left: 20px;
                    }
                    ul{
                        list-style-type: none;
                        margin-left: 20px;
                        padding: 0%;
                        li{
                            margin: 10px 0px;
            
                            #org-name{
                                width: 255px;
                            }
            
                            h4{
                                font-family: $fontMonstserrat;
                                line-height: 2;
                                color: white;
                                font-size: 14px;
                                font-weight: 500;
                                margin: 0px;
            
                            }
                        }
                    }
                    
                }
            }

            .col-7{
                padding: 0%;
                #foot-menu{
                    list-style-type: none;
                    margin-top: 140px;
                    padding: 0%;
                    text-align: right;
                    li{
                        display: inline;
                        padding: 0px 8px;
        
                        a{
                            font-family: $fontMonstserrat;
                            font-weight: 700;
                            font-size: 14px;
                            text-decoration: none;
                            color: white;
        
                        }
                    }
                }
            }
        }

       
    }
    .copyright{
        text-align: center;
        color: #9ca6bead;
        font-family: $fontOpenSans;
        font-weight: 300;
        font-size: 12px;

    }
}

@media (max-width:1024px){
    body{
        .wrapper{
            height: 700px;
    
            .myVideo{
                height: 700px;
            }
        }

        .content{
            .top-nav {
                .left{
                    width: 15%;
                    padding: 25px;
                }
                .right{
                    width: 68%;
                    margin-top: 50px;
                }
            }    
        }
        .center-content{
            margin: 225px 0px 0px 150px;
            h2{
                font-size: 35px;
                width: 75%;

            }
            p{
                width: 65%;
                font-size: 16px;
                height: 90px;
            }
            a{
                font-size: 16px;
                padding: 13px 30px;
            }
        }   
        footer{
            padding: 30px 0px;
            .row{
                .col-5{
                    #logo-info{
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                #org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .col-7{
                    #foot-menu{
                        margin-top: 140px;
                        li{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    body{
        .wrapper{
            height: 600px;
    
            .myVideo{
                height: 600px;
            }
        }
        .content{
            .top-nav {
                .left{
                    padding: 20px;

                    img{
                        width: 70px;
                    }
                }
    
                .right{
                    float: right;
                    width: 70%;
                    margin-top: 40px;

                    a{
                        padding: 6px 8px;
                        font-size: 15px;
                    }
                }
            }    
        }
        .center-content{
            margin: 200px 0px 0px 130px;
            h2{

                width: 85%;
                font-size: 30px;
                padding: 5px 0px;
            }
            p{
                width: 75%;
                font-size: 14px;
                margin-bottom: 30px;
            }
            a{
                font-size: 14px;
            }
        }   
        footer{
            padding: 30px 0px;
            .row{
                .col-5{
                    width: 60%;
                    #logo-info{
                        margin-left: 80px;
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                #org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .col-7{
                    width: 30%;
                    #foot-menu{
                        margin: 0px;
                        padding: 0%;
                        li{
                            display: block;
                            text-align: left;
                            padding: 14px 8px ;
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:736px){
    body{
        .wrapper{
            height: 500px;
    
            .myVideo{
                height: 500px;
            }
        }
        .content{
            .top-nav {
                .left{
                    width: 15%;
                    float: left;
                    padding: 20px;

                    img{
                        width: 70px;
                    }
                }
    
                .right{
                    float: right;
                    width: 70%;
                    margin-top: 40px;

                    a{
                        padding: 8px 10px;
                        font-size: 13px;
                    }
                }
            }    
        }

        .center-content{
            margin: 150px 0px 0px 130px;
            h2{
                font-size: 23px;
                padding: 5px 0px;
            }
            p{
                font-size: 13px;
                margin-bottom: 15px;
            }
            a{
                font-size: 13px;
            }
        } 

        footer{
            padding: 30px 0px;
            .row{
               
                #foot-menu{
                    li{
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:684px){
    body{
        .wrapper{
            height: 450px;
    
            .myVideo{
                height: 450px;
            }
        }
        .content{
            .top-nav {
                .left{
                    width: 13%;
                    float: left;
                    padding: 20px;

                    img{
                        width: 60px;
                    }
                }
    
                .right{
                    float: right;
                    width: 70%;
                    margin-top: 40px;

                    a{
                        font-size: 13px;
                        padding: 5px 7px;
                    }
                }
            }    
        }
        .center-content{
            margin-top:150px ;
            h2{
                font-size: 20px;
                padding: 5px 0px;
            }
            p{
                font-size: 12px;
                margin-bottom: 10px;
            }
            a{
                padding: 13px 25px;
            }
        } 
        footer{
            .row{
                width: 95%;
                #foot-menu{
                    margin-left: 20px;
                    li{
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:667px){
    body{
        .wrapper{
            height: 500px;
    
            .myVideo{
                height: 500px;
            }
        }
        .content{
            .top-nav {
                .right{
                    width: 73%;

                    a{
                        font-size: 13px;
                    }
                }
            }
        }
        .center-content{
            h2{
                font-size: 23px;
                padding: 5px 0px;
            }
            p{
                font-size: 13px;
                margin-bottom: 10px;
            }
            a{
                font-size: 13px;
                margin: 0px 0px;
            }
        } 
        footer{
            padding: 35px 0px;
            .row{
                .col-5{
                    width: 60%;
                    #logo-info{
                        margin-left: 40px;
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                #org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .col-7{
                    width: 30%;
                    #foot-menu{
                        margin-top: 20px;
                        li{
                            text-align: left;
                            a{
                                display: block;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:415px){
    body{
        .wrapper{
            height: 700px;
    
            .myVideo{
                height: 700px;
            }
        }
        .content{
            .top-nav {
                .left{
                    width: 27%;
                    float: left;
                    padding: 20px;

                    img{
                        width: 70px;
                    }
                }
    
                .right{
                    float: right;
                    width: 70%;
                    margin-top: 30px;

                    a{
                        display: none;
                    }

                    #icon {
                        display: block;
                        float: right;
                        margin:0px 10px;


                        i{
                            font-size: 20px;
                        }
                    }
                }
            }    
        }

        .center-content{
            margin-top: 180px;
            margin-left: 0px;
            padding: 20px;
            h2{
                font-size: 20px;
                width: 80%;
                margin: auto;
                margin-bottom: 20px;
            }
            p{
                font-size: 12px;
                width: 80%;
                margin: auto;
                margin-bottom: 50px;

            }
            a{
                font-size: 12px;
                padding: 10px 12px;
                margin-left: 35px;
            }

        }
       
        footer{
            padding: 30px 0px;
            .row{
                .col-5{
                    width: 100%;
                    #logo-info{
                        margin-left: 55px;
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                #org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .col-7{
                    width: 100%;
                    #foot-menu{
                        margin-top: 0px;
                        li{
                            text-align: center;
                            a{
                                display: block;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:375px){
    body{
        .content{
            .top-nav {
                .left{
                    width: 15%;
                    float: left;
                    padding: 20px;

                    img{
                        width: 70px;
                    }
                }
    
                .right{
                    float: right;
                    width: 75%;
                    margin-top: 40px;

                    a{
                        display: none;
                    }

                    #icon {
                        display: block;
                        float: right;
                    }
                }
            }    
        }
        footer{
            .row{
                .col-5{
                    #logo-info{
                        margin-left: 20px;
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                #org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .col-7{
                    width: 100%;
                    #foot-menu{
                        margin-top: 0px;
                        li{
                            text-align: center;
                            a{
                                display: block;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}