$fontMonstserrat : Montserrat, sans-serif;
$fontInter : inter, sans-serif;
$fontManrope : manrope, sans-serif;
$fontOpenSans : open-sans, sans-serif;

body{
    margin: 0%;
    padding: 0%;
    width: 100%;

    .wrapper{
        width: 100%;
        height: 700px;

        .my-video{
            width: 1265px;
            background-size: cover;
            position: relative;
        }
    }
    
    .content{
        top: 0%;
        position: absolute;
        width: 100%;
        display: table;
        clear: both;

        .top-nav {
            overflow: hidden;
            content: '';
            clear: both;
            display: table;
            width: 100%;

            .left{
                width: 15%;
                float: left;
                padding: 30px;

                img{
                    width: 78px;
                }
            }

            .right{
                float: right;
                width: 55%;
                margin-top: 60px;
                list-style-type: none;
                margin-left: 0%;
                padding: 0%;


                li{
                    display: inline;
                    margin: 0%;
                    padding: 0%;
                }

                a {
                    color: #ffffff;
                    text-align: center;
                    padding: 0px 15px;
                    text-decoration: none;
                    font-size: 17px;
                    font-family: $fontMonstserrat;
                    font-weight: 600;
                }

                a:hover{
                    color: #6300cc;
                    text-decoration: none;
                }
                .hamburger-icon {
                    display: none;
                }
            }
            .right .active{
                text-decoration: underline;
            }
        }
    }
    .center-content{
        top: 200px;
        width: 100%;
        position: absolute;

        .center-detail{
            width: 84%;
            margin: auto;

            h2{
                width: 84%;
                text-align: left;
                font-family: $fontInter;
                font-size: 50px;
                font-weight: 500;
                color: white;
                padding: 20px 0px;
            }
            p{
                width: 60%;
                font-family: $fontManrope;
                font-weight: 400;
                font-size: 19px;
                color: rgba(255, 255, 255, 0.612);
                line-height: 1.5;
                height: 115px;
                margin-bottom: 40px;
            }
            a{
                font-family: $fontMonstserrat;
                font-size: 20px;
                padding: 15px 35px;
                text-decoration: none;
                border-radius: 8px;
                color: white;
                background-color: #161718;
                border: 0.2px solid white;
                box-shadow: 0px 1px 10px white;
                font-weight: bold;
            }
            a:hover{
                background-image: url('https://framerusercontent.com/images/DzUnxO8nIp8NlFQ4Rralxbdu5jU.jpg?scale-down-to=4096');
            }
        }
    }

    footer{
        background-image: url('https://framerusercontent.com/images/rX3s5jtZ4spiYfb24VBSEi1nA.jpg?scale-down-to=4096');
        padding: 35px 0px;
        background-repeat: no-repeat;
        background-size: cover;

        .foot{
            width: 90%;
            margin: auto;

            .foot-one{
                padding: 0%;
                .logo-info{
                    .foot-logo{
                        width: 60px;
                        margin-left: 20px;
                    }
                    ul{
                        list-style-type: none;
                        margin-left: 20px;
                        padding: 0%;
                        li{
                            margin: 10px 0px;
            
                            .org-name{
                                width: 255px;
                            }
            
                            h4{
                                font-family: $fontMonstserrat;
                                line-height: 2;
                                color: white;
                                font-size: 14px;
                                font-weight: 600;
                                margin: 0px;
            
                            }
                        }
                    }
                    
                }
            }

            .foot-two{
                padding: 0%;
                .foot-menu{
                    list-style-type: none;
                    margin-top: 140px;
                    padding: 0%;
                    text-align: right;
                    li{
                        display: inline;
                        padding: 0px 8px;
        
                        a{
                            font-family: $fontMonstserrat;
                            font-weight: 600;
                            font-size: 14px;
                            text-decoration: none;
                            color: white;
        
                        }
                    }
                }
            }
        }

       
    }
    .copyright{
        text-align: center;
        color: #9CA6BE;
        font-family: $fontOpenSans;
        font-weight: 300;
        font-size: 12px;

    }

    .active > .page-link, .page-link.active{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0.642);
        border: none;
        font-size: 29px;
        font-family: $fontMonstserrat;
        font-weight: 600;
        height: 50px;
        text-align: center;
    }
    .disabled>.page-link, .page-link.disabled{
        background-color: rgba(255, 255, 255, 0);

    }
    .page-link{
        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: black;
        
    }
}

@media (max-width:1024px){
    body{
        .content{
            .top-nav {
                .right{
                    width: 60%;
                    a {
                        padding: 0px 10px;
                        font-size: 15px;
                    }
                }
            }
        }

        .center-content{
            top: 200px;
            .center-detail{
                h2{
                    font-size: 40px;
                    font-weight: 500;
                    color: white;
                    padding: 15px 0px;
                }
                p{
                    font-size: 17px;
                    margin-bottom: 35px;
                }
                a{
                    font-size: 18px;
                    padding: 13px 33px;
                }
            }
        }   
        footer{
            padding: 30px 0px;
            .row{
                .foot-one{
                    .logo-info{
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                .org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .foot-two{
                    .foot-menu{
                        margin-top: 140px;
                        li{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    body{
        .content{
            .top-nav {
                .right{
                    width: 70%;
                    a {
                        padding: 0px 10px;
                        font-size: 13px;
                    }
                }
            }
        }

        .center-content{
            .center-detail{
                h2{
                    font-size: 36px;
                    padding: 13px 0px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 0px;
                }
                a{
                    font-size: 15px;
                    padding: 10px 25px;
                }
            }
        }   
        footer{
            .foot{
                .foot-one{
                    width: 60%;
                    .logo-info{
                        margin-left: 40px;
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                .org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .foot-two{
                    width: 30%;
                    .foot-menu{
                        margin-top: 20px;
                        li{
                            text-align: left;
                            a{
                                display: block;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:736px){
    body{  
        .center-content{
            top: 200px;
            .center-detail{
                h2{
                    font-size: 35px;
                    padding: 13px 0px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                a{
                    font-size: 14px;
                    padding: 10px 25px;
                }
            }
        }   
    }
}

@media (max-width:684px){
    body{
        .content{
            .top-nav {
                .right{
                    width: 72%;
                    a {
                        padding: 0px 5px;
                        font-size: 13px;
                    }
                }
            }
        }
        .center-content{
            top: 180px;
            .center-detail{
                h2{
                    font-size: 30px;
                    padding: 13px 0px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                a{
                    font-size: 14px;
                    padding: 10px 25px;
                }
            }
        }   
    }
}

@media (max-width:425px){
    body{
        .content{
            .top-nav {
                .left{
                    width: 27%;
                    float: left;
                    padding: 20px;

                    img{
                        width: 70px;
                    }
                }
    
                .right{
                    float: right;
                    width: 70%;
                    margin-top: 30px;

                    a{
                        display: none;
                    }

                    .hamburger-icon {
                        display: block;
                        float: right;
                        margin:0px 10px;


                        i{
                            font-size: 20px;
                        }
                    }
                }
                .right.responsive{
                    width: 150px;
                    background-color: rgba(68, 65, 65, 0.343);
                    position: relative;
                    border-radius: 5px;
                    z-index: 1;
    
                    a {
                        display: block;
                        width: 200px;
                        padding: 15px 5px 15px 10px;
                        text-align: left;
                    }
                    .hamburger-icon {
                        width: 35px;
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                .top-nav.responsive{
                    .right{
                        .hamburger-icon {
                        display: block;
                        position: absolute;
                            right: 0;
                            top: 0;
                        } 
                        a{
                            display: block;
                            text-align: left;
                        }
                    }
                }
            }    
        }

        .center-content{
            top: 230px;
            .center-detail{
                h2{
                    margin-left: 20px;
                    font-size: 20px;
                    padding: 10px 0px;
                }
                p{
                    margin-left: 20px;
                    font-size: 12px;
                    margin-bottom: 0px;
                    width: 80%;
                }
                a{
                    font-size: 12px;
                    padding: 8px 15px;
                    margin-left: 20px;
                }
            }
        } 
       
        footer{
            padding: 30px 0px;
            .row{
                .col-5{
                    width: 100%;
                    .logo-info{
                        margin-left: 55px;
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                .org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .col-7{
                    width: 100%;
                    .foot-menu{
                        margin-top: 0px;
                        li{
                            text-align: center;
                            a{
                                display: block;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:415px){
    body{
        .content{
            .top-nav {
                .left{
                    width: 27%;
                    float: left;
                    padding: 20px;

                    img{
                        width: 70px;
                    }
                }
    
                .right{
                    float: right;
                    width: 70%;
                    margin-top: 30px;

                    a{
                        display: none;
                    }

                    .hamburger-icon {
                        display: block;
                        float: right;
                        margin:0px 10px;


                        i{
                            font-size: 20px;
                        }
                    }
                }
                .right.responsive{
                    width: 150px;
                    background-color: rgba(68, 65, 65, 0.343);
                    position: relative;
                    border-radius: 5px;
                    z-index: 1;
    
                    a {
                        display: block;
                        width: 200px;
                        padding: 15px 5px 15px 10px;
                        text-align: left;
                    }
                    .hamburger-icon {
                        width: 35px;
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                .top-nav.responsive{
                    .right{
                        .hamburger-icon {
                        display: block;
                        position: absolute;
                            right: 0;
                            top: 0;
                        } 
                        a{
                            display: block;
                            text-align: left;
                        }
                    }
                }
            }    
        }

        .center-content{
            top: 230px;
            .center-detail{
                h2{
                    margin-left: 20px;
                    font-size: 20px;
                    padding: 10px 0px;
                }
                p{
                    margin-left: 20px;
                    font-size: 12px;
                    margin-bottom: 0px;
                    width: 80%;
                }
                a{
                    font-size: 12px;
                    padding: 8px 15px;
                    margin-left: 20px;
                }
            }
        } 
       
        footer{
            padding: 30px 0px;
            .row{
                .col-5{
                    width: 100%;
                    .logo-info{
                        margin-left: 55px;
                        ul{
                            margin-left: 20px;
                            padding: 0%;
                            li{
                                margin: 10px 0px;
                
                                .org-name{
                                    width: 255px;
                                }
                            }
                        }
                    }
                }
                .col-7{
                    width: 100%;
                    .foot-menu{
                        margin-top: 0px;
                        li{
                            text-align: center;
                            a{
                                display: block;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:375px){
    body{
        .center-content{
            top: 200px;
            .center-detail{
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }
}