body {
  margin: 0%;
  padding: 0%;
  width: 100%; }
  body .holder {
    background-image: url(../img/sunday-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; }
  body .video-wrapper {
    width: 100%;
    min-height: 550px; }
    body .video-wrapper .my-video {
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      vertical-align: bottom;
      object-fit: cover;
      position: relative; }
  body .content {
    background-color: #0A2B56;
    width: 100%;
    position: absolute;
    z-index: 1; }
    body .content .top-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      body .content .top-nav .left {
        padding: 20px; }
        body .content .top-nav .left img {
          width: 78px; }
        body .content .top-nav .left .org-name {
          width: 180px;
          height: 40px; }
      body .content .top-nav .right {
        font-size: 20px;
        list-style-type: none;
        margin: 0%;
        padding: 0%; }
        body .content .top-nav .right li {
          display: inline;
          margin: 0%;
          padding: 0%; }
        body .content .top-nav .right a {
          color: #ffffff;
          text-align: center;
          padding: 0px 15px;
          text-decoration: none;
          font-size: 17px;
          font-family: Montserrat, sans-serif;
          font-weight: 600; }
        body .content .top-nav .right a:hover {
          color: #6300cc;
          text-decoration: none; }
        body .content .top-nav .right .hamburger-icon {
          display: none; }
      body .content .top-nav .right .active {
        text-decoration: underline; }
  body .center-content {
    top: 20%;
    position: absolute; }
    body .center-content .center-detail {
      margin: 100px auto 20px; }
      body .center-content .center-detail h2 {
        width: 84%;
        text-align: left;
        font-family: inter, sans-serif;
        font-size: 50px;
        font-weight: 500;
        color: white;
        padding: 20px 0px; }
      body .center-content .center-detail p {
        width: 60%;
        font-family: manrope, sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: rgba(255, 255, 255, 0.612);
        line-height: 1.5;
        height: 115px;
        margin-bottom: 40px; }
      body .center-content .center-detail a {
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        padding: 15px 35px;
        text-decoration: none;
        border-radius: 8px;
        color: white;
        background-color: #161718;
        border: 0.2px solid white;
        box-shadow: 0px 1px 10px white;
        font-weight: bold; }
      body .center-content .center-detail a:hover {
        background-image: url("https://framerusercontent.com/images/DzUnxO8nIp8NlFQ4Rralxbdu5jU.jpg?scale-down-to=4096"); }
  body footer {
    padding: 35px 0px;
    width: 100%;
    background-color: #0A2B56; }
    body footer .foot-wrapper {
      width: 90%;
      margin: auto; }
      body footer .foot-wrapper .bottom-sec {
        width: 100%; }
      body footer .foot-wrapper .logo-info {
        display: flex;
        justify-content: center;
        align-items: center; }
        body footer .foot-wrapper .logo-info .foot-logo {
          width: 60px; }
        body footer .foot-wrapper .logo-info .org-name {
          width: 255px;
          height: 40px; }
        body footer .foot-wrapper .logo-info ul {
          list-style-type: none;
          margin: 0px;
          padding-left: 65px; }
          body footer .foot-wrapper .logo-info ul li {
            margin: 10px 0px; }
            body footer .foot-wrapper .logo-info ul li h4 {
              font-family: Montserrat, sans-serif;
              line-height: 2;
              color: white;
              font-size: 14px;
              font-weight: 600;
              margin: 0px; }
      body footer .foot-wrapper .footer-links {
        display: flex;
        justify-content: right;
        align-items: center; }
        body footer .foot-wrapper .footer-links .foot-menu {
          list-style-type: none;
          padding: 0%; }
          body footer .foot-wrapper .footer-links .foot-menu li {
            display: inline;
            padding: 0px 8px; }
            body footer .foot-wrapper .footer-links .foot-menu li a {
              font-family: Montserrat, sans-serif;
              font-weight: 600;
              font-size: 14px;
              text-decoration: none;
              color: white; }
  body .copyright {
    text-align: center;
    color: #9CA6BE;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    font-size: 12px; }
  body .page-item.active .page-link {
    background-color: rgba(0, 0, 0, 0); }
  body .active > .page-link, body .page-link.active {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.35);
    border: none;
    font-size: 29px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    height: 50px;
    text-align: center; }
  body .disabled > .page-link, body .page-link.disabled {
    background-color: rgba(255, 255, 255, 0); }
  body .page-link {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: black; }
  body .page-item:hover {
    background-color: none !important; }

@media (max-width: 1439px) {
  body .content .top-nav .left .org-name {
    display: none; } }

@media (max-width: 1200px) {
  body footer .foot-wrapper .bottom-sec .footer-links {
    justify-content: center; }
    body footer .foot-wrapper .bottom-sec .footer-links li {
      display: block;
      padding: 10px 8px;
      text-align: center; } }

@media (max-width: 1025px) {
  body .video-wrapper .my-video {
    height: 700px; }
  body .content .top-nav .right li a {
    padding: 10px;
    font-size: 14px; }
  body .center-content {
    top: 12%; }
    body .center-content .center-detail {
      margin: 120px auto 20px; }
      body .center-content .center-detail h2 {
        font-size: 40px;
        font-weight: 500;
        color: white;
        padding: 15px 0px; }
      body .center-content .center-detail p {
        font-size: 17px;
        margin-bottom: 35px; }
      body .center-content .center-detail a {
        font-size: 18px;
        padding: 13px 33px; } }

@media (max-width: 912px) {
  body .video-wrapper .my-video {
    height: 950px; }
  body .content .top-nav .right {
    position: relative; }
    body .content .top-nav .right a {
      display: none; }
    body .content .top-nav .right .hamburger-icon {
      display: block;
      float: right;
      margin: 0px 10px; }
      body .content .top-nav .right .hamburger-icon i {
        font-size: 20px; }
  body .content .top-nav .right.responsive {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 10px;
    padding: 5px; }
    body .content .top-nav .right.responsive a {
      color: black;
      display: block;
      width: 200px;
      padding: 15px 5px 15px 10px;
      text-align: left; }
    body .content .top-nav .right.responsive a:hover {
      color: #6300cc; }
    body .content .top-nav .right.responsive .hamburger-icon {
      width: 35px;
      display: block;
      position: absolute;
      right: 0;
      top: 0; }
    body .content .top-nav .right.responsive .hamburger-icon:hover {
      color: black; }
  body .content .top-nav .top-nav.responsive .right .hamburger-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0; }
  body .content .top-nav .top-nav.responsive .right a {
    display: block;
    text-align: left; }
  body .center-content .center-detail {
    margin: 220px auto 20px; }
    body .center-content .center-detail p {
      height: 150px; } }

@media (max-width: 765px) {
  body .footer .foot-wrapper .foot-details {
    width: 100%;
    margin-left: 0%; }
  body .footer .foot-wrapper .footer-links {
    width: 100%; } }

@media (max-width: 610px) {
  body .center-content .center-detail h2 {
    width: 90%;
    font-size: 34px; }
  body .center-content .center-detail p {
    width: 80%; }
  body .center-content .center-detail p {
    height: 170px; }
  body .center-content .center-detail a {
    padding: 15px 25px;
    font-size: 15px; } }

@media (max-width: 450px) {
  body .video-wrapper .my-video {
    height: 750px; }
  body .content .top-nav .left {
    padding: 20px; }
    body .content .top-nav .left img {
      width: 50px; }
    body .content .top-nav .left .org-name {
      width: 140px;
      height: 20px; }
  body .content .top-nav .right a {
    display: none; }
  body .center-content .center-detail {
    margin: 100px 20px 20px; }
    body .center-content .center-detail h2 {
      font-size: 25px;
      padding: 10px 0px; }
    body .center-content .center-detail p {
      font-size: 14px;
      margin-bottom: 0px;
      width: 80%;
      height: 170px; }
    body .center-content .center-detail a {
      font-size: 14px;
      padding: 8px 15px; } }

@media (max-width: 375px) {
  body .video-wrapper .my-video {
    height: 800px; }
  body .center-content .center-detail p {
    height: 180px; }
  body .footer .foot-wrapper .logo-info .org-name {
    width: 180px;
    height: 40px; } }

@media (max-width: 320px) {
  body .center-content .center-detail p {
    height: 220px; }
  body .content .top-nav .left {
    padding: 15px; }
    body .content .top-nav .left img {
      width: 40px; }
    body .content .top-nav .left .org-name {
      width: 100px;
      height: 20px; }
  body .content .top-nav .right .hamburger-icon {
    margin: 0%; } }
