$fontMonstserrat : Montserrat, sans-serif;
$fontInter : inter, sans-serif;
$fontManrope : manrope, sans-serif;
$fontOpenSans : open-sans, sans-serif;
$headFootColor : #0A2B56;

body{
    margin: 0%;
    padding: 0%;
    width: 100%;

    .holder{
        background-image: url(../img/sunday-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }

    .video-wrapper{
        width: 100%;
        min-height: 550px;

        .my-video{
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            vertical-align: bottom;
            object-fit: cover;
            position: relative;
        }
    }
    
    .content{
        background-color: $headFootColor;
        width: 100%;
        position: absolute;
        z-index: 1;
        
        .top-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .left{
                padding: 30px;

                img{
                    width: 78px;
                }

                .org-name{
                    width: 80%;
                    height: 40px;
                }
            }

            .right{
                font-size: 20px;
                list-style-type: none;
                margin: 0%;
                padding-right: 20px;

                li{
                    display: inline;
                    margin: 0%;
                    padding: 0%;
                }

                a {
                    color: #ffffff;
                    text-align: center;
                    padding: 0px 15px;
                    text-decoration: none;
                    font-size: 17px;
                    font-family: $fontMonstserrat;
                    font-weight: 600;
                }

                a:hover{
                    color: #6300cc;
                    text-decoration: none;
                }
                .hamburger-icon {
                    display: none;
                }
            }
            .right .active{
                text-decoration: underline;
            }
        }
    }

    .center-content{
        top: 20%;
        position: absolute;

        .center-detail{
            margin:100px auto 20px;

            h2{
                width: 84%;
                text-align: left;
                font-family: $fontInter;
                font-size: 50px;
                font-weight: 500;
                color: white;
                padding: 20px 0px;
            }
            p{
                width: 60%;
                font-family: $fontManrope;
                font-weight: 400;
                font-size: 19px;
                color: rgba(255, 255, 255, 0.612);
                line-height: 1.5;
                height: 115px;
                margin-bottom: 40px;
            }
            a{
                font-family: $fontMonstserrat;
                font-size: 20px;
                padding: 15px 35px;
                text-decoration: none;
                border-radius: 8px;
                color: white;
                background-color: #161718;
                border: 0.2px solid white;
                box-shadow: 0px 1px 10px white;
                font-weight: bold;
            }
            a:hover{
                background-image: url('https://framerusercontent.com/images/DzUnxO8nIp8NlFQ4Rralxbdu5jU.jpg?scale-down-to=4096');
            }
        }
    }

    footer{
        padding: 35px 0px;
        width: 100%;
        background-color: $headFootColor;
        
        .foot-wrapper{
            width: 90%;
            margin: auto;

            .bottom-sec{
                width: 100%;
            }

            .logo-info{
                display: flex;
                justify-content: center;
                align-items: center;
    
                .foot-logo{
                    width: 60px;
                }
                .org-name{
                    width: 255px;
                    height: 40px;
                }
                ul{
                    list-style-type: none;
                    margin: 0px;
                    padding-left: 65px;
                    li{
                        margin: 10px 0px;
        
                    
        
                        h4{
                            font-family: $fontMonstserrat;
                            line-height: 2;
                            color: white;
                            font-size: 14px;
                            font-weight: 600;
                            margin: 0px;
        
                        }
                    }
                }
                
            }

            .footer-links{
                display: flex;
                justify-content: right;
                align-items: center;
    
                .foot-menu{
                    list-style-type: none;
                    padding: 0%;
                    li{
                        display: inline;
                        padding: 0px 8px;
        
                        a{
                            font-family: $fontMonstserrat;
                            font-weight: 600;
                            font-size: 14px;
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
       
    }
    .copyright{
        text-align: center;
        color: #9CA6BE;
        font-family: $fontOpenSans;
        font-weight: 300;
        font-size: 12px;

    }

    .page-item.active .page-link{
        background-color: rgba(0, 0, 0, 0);
    }

    .active > .page-link, .page-link.active{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(0, 0, 0, 0.35);
        border: none;
        font-size: 29px;
        font-family: $fontMonstserrat;
        font-weight: 600;
        height: 50px;
        text-align: center;
    }
    .disabled>.page-link, .page-link.disabled{
        background-color: rgba(255, 255, 255, 0);

    }
    .page-link{
        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: black;
        
    }
    .page-item:hover{
        background-color: none !important;
    }
}

@media (max-width:1439px){
    body{
        .content{
            .top-nav {
                .left{
                    .org-name{
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width:1200px){
    body{
        footer{
            .foot-wrapper{
                .bottom-sec{
                    .footer-links{
                        justify-content: center;
                        li{
                            display: block;
                            padding: 10px 8px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1034px){
    body{
        .video-wrapper{
            .my-video{
                height: 700px;
            }
        }
        .content{
            .top-nav{
                .right{
                    li{
                        a{
                            padding: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .center-content{
            top: 12%;
            .center-detail{
                margin:120px auto 20px;
                h2{
                    font-size: 40px;
                    font-weight: 500;
                    color: white;
                    padding: 15px 0px;
                }
                p{
                    font-size: 17px;
                    margin-bottom: 35px;
                }
                a{
                    font-size: 18px;
                    padding: 13px 33px;
                }
            }
        }   
    }
}



@media (max-width:912px){
    body{ 
        .video-wrapper{
            .my-video{
                height: 950px;
            }
        }

        .content{
            .top-nav {
                .right{
                    position: relative;
                    a{
                        display: none;
                    }

                    .hamburger-icon {
                        display: block;
                        float: right;
                        margin:0px 10px;

                        i{
                            font-size: 20px;
                        }
                    }
                }
                .right.responsive{
                    background-color: rgb(255, 255, 255);
                    border-radius: 5px;
                    position: absolute;
                    z-index: 1;
                    top: 30px;
                    right: 10px;
                    padding: 5px;
    
                    a {
                        color: black;
                        display: block;
                        width: 200px;
                        padding: 15px 5px 15px 10px;
                        text-align: left;
                    }
                    a:hover{
                        color: #6300cc;
                    }
                    .hamburger-icon {
                        width: 35px;
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    .hamburger-icon:hover {
                        color: black;
                    }
                }
                .top-nav.responsive{
                    .right{
                        .hamburger-icon {
                        display: block;
                        position: absolute;
                            right: 0;
                            top: 0;
                        } 
                        a{
                            display: block;
                            text-align: left;
                        }
                    }
                }
            }    
        } 
        .center-content{
            .center-detail{
                margin:220px auto 20px;
                p{
                    height: 150px;
                }
            }
        } 
    }
}

@media (max-width:765px){
    body{
        .footer{
            .foot-wrapper{
                .foot-details{
                    width: 100%;
                    margin-left: 0%;
                }
                .footer-links{
                    width: 100%;
                }
            }
        }
    }
}


@media (max-width:610px){
    body{
        .center-content{
            .center-detail{
                h2{
                    width: 90%;
                    font-size: 34px;
                }
                p{
                    width: 80%;
                }
            }
        }

        .center-content{
            .center-detail{
                p{
                    height: 170px;
                }
                a{
                    padding: 15px 25px;
                    font-size: 15px;
                }
            }
        }
        
    }
}


@media (max-width:450px){
    body{
        .video-wrapper{
            .my-video{
                height: 750px;
            }
        }

        .content{
            .top-nav {
                .left{
                    padding: 20px;

                    img{
                        width: 50px;
                    }

                    .org-name{
                        width: 140px;
                        height: 20px;
                    }
                }
    
                .right{
                    a{
                        display: none;
                    }
                }
            }    
        }

        .center-content{
            .center-detail{
                margin:100px 20px 20px;
                h2{
                    font-size: 25px;
                    padding: 10px 0px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 0px;
                    width: 80%;
                    height: 170px;
                }
                a{
                    font-size: 14px;
                    padding: 8px 15px;
                }
            }
        } 
    }
}

@media (max-width:375px){
    body{
        .video-wrapper{
            .my-video{
                height: 800px;
            }
        }
        .center-content{
            .center-detail{
                p{
                    height: 180px;
                }
                
            }
        }
        .footer{
            .foot-wrapper{
                .logo-info{
                    .org-name{
                        width: 180px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width:320px){
    body{
        .center-content{
            .center-detail{
                p{
                    height: 220px;
                }
                
            }
        }
        .content{
            .top-nav {
                .left{
                    padding: 15px;
                    img{
                        width: 40px;
                    }
                    .org-name{
                        width: 100px;
                        height: 20px;
                    }
                }
                .right{
                    .hamburger-icon{
                        margin: 0%;
                    }
                }
            }
        }
    }
}