body {
  margin: 0%;
  padding: 0%;
  width: 100%; }
  body .wrapper {
    width: 100%;
    height: 700px; }
    body .wrapper .my-video {
      width: 1265px;
      background-size: cover;
      position: relative; }
  body .content {
    width: 100%; }
    body .content .top-nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body .content .top-nav .left {
        padding: 30px; }
        body .content .top-nav .left img {
          width: 78px; }
      body .content .top-nav .right {
        font-size: 20px;
        list-style-type: none;
        margin: 0%;
        padding-right: 10px; }
        body .content .top-nav .right li {
          display: inline;
          margin: 0%;
          padding: 0%; }
        body .content .top-nav .right a {
          color: #ffffff;
          text-align: center;
          padding: 0px 15px;
          text-decoration: none;
          font-size: 17px;
          font-family: Montserrat, sans-serif;
          font-weight: 600; }
        body .content .top-nav .right a:hover {
          color: #6300cc;
          text-decoration: none; }
        body .content .top-nav .right .hamburger-icon {
          display: none; }
      body .content .top-nav .right .active {
        text-decoration: underline; }
  body .center-content {
    top: 0px;
    width: 100%;
    position: absolute; }
    body .center-content .center-detail {
      width: 84%;
      margin: 100px auto 20px; }
      body .center-content .center-detail h2 {
        width: 84%;
        text-align: left;
        font-family: inter, sans-serif;
        font-size: 50px;
        font-weight: 500;
        color: white;
        padding: 20px 0px; }
      body .center-content .center-detail p {
        width: 60%;
        font-family: manrope, sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: rgba(255, 255, 255, 0.612);
        line-height: 1.5;
        height: 115px;
        margin-bottom: 40px; }
      body .center-content .center-detail a {
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        padding: 15px 35px;
        text-decoration: none;
        border-radius: 8px;
        color: white;
        background-color: #161718;
        border: 0.2px solid white;
        box-shadow: 0px 1px 10px white;
        font-weight: bold; }
      body .center-content .center-detail a:hover {
        background-image: url("https://framerusercontent.com/images/DzUnxO8nIp8NlFQ4Rralxbdu5jU.jpg?scale-down-to=4096"); }
  body footer {
    background-image: url("https://framerusercontent.com/images/rX3s5jtZ4spiYfb24VBSEi1nA.jpg?scale-down-to=4096");
    padding: 35px 0px;
    background-repeat: no-repeat;
    background-size: cover; }
    body footer .foot {
      width: 90%;
      margin: auto; }
      body footer .foot .foot-one {
        padding: 0%; }
        body footer .foot .foot-one .logo-info .foot-logo {
          width: 60px;
          margin-left: 20px; }
        body footer .foot .foot-one .logo-info ul {
          list-style-type: none;
          margin-left: 20px;
          padding: 0%; }
          body footer .foot .foot-one .logo-info ul li {
            margin: 10px 0px; }
            body footer .foot .foot-one .logo-info ul li .org-name {
              width: 255px; }
            body footer .foot .foot-one .logo-info ul li h4 {
              font-family: Montserrat, sans-serif;
              line-height: 2;
              color: white;
              font-size: 14px;
              font-weight: 600;
              margin: 0px; }
      body footer .foot .foot-two {
        padding: 0%; }
        body footer .foot .foot-two .foot-menu {
          list-style-type: none;
          margin-top: 140px;
          padding: 0%;
          text-align: right; }
          body footer .foot .foot-two .foot-menu li {
            display: inline;
            padding: 0px 8px; }
            body footer .foot .foot-two .foot-menu li a {
              font-family: Montserrat, sans-serif;
              font-weight: 600;
              font-size: 14px;
              text-decoration: none;
              color: white; }
  body .copyright {
    text-align: center;
    color: #9CA6BE;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    font-size: 12px; }
  body .active > .page-link, body .page-link.active {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.35);
    border: none;
    font-size: 29px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    height: 50px;
    text-align: center; }
  body .disabled > .page-link, body .page-link.disabled {
    background-color: rgba(255, 255, 255, 0); }
  body .page-link {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: black; }
  body .page-item:hover {
    background-color: none !important; }

@media (max-width: 1025px) {
  body .center-content .center-detail {
    margin: 80px auto 20px; }
    body .center-content .center-detail h2 {
      font-size: 40px;
      font-weight: 500;
      color: white;
      padding: 15px 0px; }
    body .center-content .center-detail p {
      font-size: 17px;
      margin-bottom: 35px; }
    body .center-content .center-detail a {
      font-size: 18px;
      padding: 13px 33px; }
  body footer {
    padding: 30px 0px; }
    body footer .row .foot-one .logo-info ul {
      margin-left: 20px;
      padding: 0%; }
      body footer .row .foot-one .logo-info ul li {
        margin: 10px 0px; }
        body footer .row .foot-one .logo-info ul li .org-name {
          width: 255px; }
    body footer .row .foot-two .foot-menu {
      margin-top: 140px; }
      body footer .row .foot-two .foot-menu li a {
        font-size: 14px; } }

@media (max-width: 768px) {
  body .content .top-nav .right {
    font-size: 15px; }
    body .content .top-nav .right a {
      padding: 0px 10px;
      font-size: 15px; } }

@media (max-width: 768px) {
  body .content .top-nav .right a {
    padding: 0px 10px;
    font-size: 13px; }
  body .center-content .center-detail {
    margin: 60px auto 20px; }
    body .center-content .center-detail h2 {
      font-size: 36px;
      padding: 13px 0px; }
    body .center-content .center-detail p {
      font-size: 14px;
      margin-bottom: 0px;
      height: 130px; }
    body .center-content .center-detail a {
      font-size: 15px;
      padding: 10px 25px; }
  body footer .foot .foot-one {
    width: 60%; }
    body footer .foot .foot-one .logo-info {
      margin-left: 40px; }
      body footer .foot .foot-one .logo-info ul {
        margin-left: 20px;
        padding: 0%; }
        body footer .foot .foot-one .logo-info ul li {
          margin: 10px 0px; }
          body footer .foot .foot-one .logo-info ul li .org-name {
            width: 255px; }
  body footer .foot .foot-two {
    width: 30%; }
    body footer .foot .foot-two .foot-menu {
      margin-top: 20px; }
      body footer .foot .foot-two .foot-menu li {
        text-align: left; }
        body footer .foot .foot-two .foot-menu li a {
          display: block;
          font-size: 14px; } }

@media (max-width: 736px) {
  body .center-content .center-detail h2 {
    font-size: 35px;
    padding: 13px 0px; }
  body .center-content .center-detail p {
    font-size: 14px;
    margin-bottom: 20px; }
  body .center-content .center-detail a {
    font-size: 14px;
    padding: 10px 25px; } }

@media (max-width: 685px) {
  body .content .top-nav .right {
    position: relative; }
    body .content .top-nav .right a {
      display: none; }
    body .content .top-nav .right .hamburger-icon {
      display: block;
      float: right;
      margin: 0px 10px; }
      body .content .top-nav .right .hamburger-icon i {
        font-size: 20px; }
  body .content .top-nav .right.responsive {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 10px; }
    body .content .top-nav .right.responsive a {
      color: black;
      display: block;
      width: 200px;
      padding: 15px 5px 15px 10px;
      text-align: left; }
    body .content .top-nav .right.responsive a:hover {
      color: #6300cc; }
    body .content .top-nav .right.responsive .hamburger-icon {
      width: 35px;
      display: block;
      position: absolute;
      right: 0;
      top: 0; }
    body .content .top-nav .right.responsive .hamburger-icon:hover {
      color: black; }
  body .content .top-nav .top-nav.responsive .right .hamburger-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0; }
  body .content .top-nav .top-nav.responsive .right a {
    display: block;
    text-align: left; }
  body .center-content .center-detail h2 {
    font-size: 30px;
    padding: 13px 0px; }
  body .center-content .center-detail p {
    font-size: 14px;
    margin-bottom: 20px; }
  body .center-content .center-detail a {
    font-size: 14px;
    padding: 10px 25px; } }

@media (max-width: 425px) {
  body .content .top-nav .left {
    padding: 20px; }
    body .content .top-nav .left img {
      width: 70px; }
  body .content .top-nav .right a {
    display: none; }
  body .content .top-nav .right .hamburger-icon {
    display: block;
    margin: 0px 10px; }
    body .content .top-nav .right .hamburger-icon i {
      font-size: 20px; }
  body .center-content .center-detail {
    margin: 50px auto 20px; }
    body .center-content .center-detail h2 {
      margin-left: 20px;
      font-size: 20px;
      padding: 10px 0px; }
    body .center-content .center-detail p {
      margin-left: 20px;
      font-size: 12px;
      margin-bottom: 0px;
      width: 80%; }
    body .center-content .center-detail a {
      font-size: 12px;
      padding: 8px 15px;
      margin-left: 20px; }
  body footer {
    padding: 30px 0px; }
    body footer .foot .foot-one {
      width: 100%; }
      body footer .foot .foot-one .logo-info {
        margin-left: 55px; }
        body footer .foot .foot-one .logo-info ul {
          margin-left: 20px;
          padding: 0%; }
          body footer .foot .foot-one .logo-info ul li {
            margin: 10px 0px; }
            body footer .foot .foot-one .logo-info ul li .org-name {
              width: 255px; }
    body footer .foot .foot-two {
      width: 100%; }
      body footer .foot .foot-two .foot-menu {
        margin-top: 0px; }
        body footer .foot .foot-two .foot-menu li {
          text-align: center; }
          body footer .foot .foot-two .foot-menu li a {
            display: block;
            font-size: 14px; } }

@media (max-width: 414px) {
  body .content .top-nav .left {
    padding: 20px; }
    body .content .top-nav .left img {
      width: 70px; }
  body .content .top-nav .right a {
    display: none; }
  body .center-content .center-detail {
    margin: 100px auto 20px; }
    body .center-content .center-detail h2 {
      margin-left: 20px;
      font-size: 20px;
      padding: 10px 0px; }
    body .center-content .center-detail p {
      margin-left: 20px;
      font-size: 12px;
      margin-bottom: 0px;
      width: 80%;
      height: 130px; }
    body .center-content .center-detail a {
      font-size: 12px;
      padding: 8px 15px;
      margin-left: 20px; }
  body footer {
    padding: 30px 0px; }
    body footer .foot .foot-one {
      width: 100%; }
      body footer .foot .foot-one .logo-info {
        margin-left: 55px; }
        body footer .foot .foot-one .logo-info ul {
          margin-left: 20px;
          padding: 0%; }
          body footer .foot .foot-one .logo-info ul li {
            margin: 10px 0px; }
            body footer .foot .foot-one .logo-info ul li .org-name {
              width: 255px; }
    body footer .foot .foot-two {
      width: 100%; }
      body footer .foot .foot-two .foot-menu {
        margin-top: 0px; }
        body footer .foot .foot-two .foot-menu li {
          text-align: center; }
          body footer .foot .foot-two .foot-menu li a {
            display: block;
            font-size: 14px; } }

@media (max-width: 375px) {
  body .center-content .center-detail {
    margin: 45px auto 20px; }
    body .center-content .center-detail p {
      height: 130px;
      margin-bottom: 10px; }
  body footer .foot .foot-one {
    width: 100%; }
    body footer .foot .foot-one .logo-info {
      margin-left: 10px; } }
