body .login-card {
  width: 700px; }
  body .login-card .card-inner {
    padding: 60px; }
    body .login-card .card-inner h4 {
      color: #5d596c; }
    body .login-card .card-inner p {
      color: #5D596C; }
    body .login-card .card-inner .form-label {
      margin-bottom: 0.25rem;
      font-size: 0.8125rem;
      color: #5D596C; }
    body .login-card .card-inner .remember-check {
      color: #5D596C; }

@media (max-width: 1024px) {
  body .login-card {
    width: 600px; }
    body .login-card .card-inner {
      padding: 50px; } }

@media (max-width: 768px) {
  body .login-card {
    width: 500px; }
    body .login-card .card-inner {
      padding: 40px; } }

@media (max-width: 568px) {
  body .login-card {
    width: 400px; }
    body .login-card .card-inner {
      padding: 30px; } }
