body{

    .video-wrapper{
        min-height: 100%;

        .my-video{
            height: 1000px;
        }
    }

    .card-top{
        padding: 100px 0px 0px;
    }

    .login-card{
        width: 700px;

        .card-inner{
            padding: 60px;
        }
    }
}


@media (max-width:1024px){
    body{
        .login-card{
            width: 600px;
    
            .card-inner{
                padding: 50px;
            }

        }
    }
}

@media (max-width:768px){
    body{
        .card-top{
            padding: 150px 0px 0px;
        }
        .login-card{
            width: 500px;
            .card-inner{
                padding: 40px;
            }
        }
    }
}

@media (max-width:568px){
    body{
        .card-top{
            padding: 100px 0px 0px;
        }
        .login-card{
            width: 400px;
            .card-inner{
                padding: 30px;
            }
        }
    }
}

@media (max-width:450px){
    body{
        .card-top{
            padding: 50px 0px 0px;
        }
        .login-card{
            width: 300px;
            .card-inner{
                padding: 20px;
            }
        }
    }
}


@media (max-width:320px){
    body{
        .card-top{
            padding: 20px 0px 0px;
        }
        .login-card{
            width: 280px;
        }
    }
}