body .content {
  position: absolute;
  top: 0%; }

body .img-div {
  height: 100%;
  width: 100%; }

body .search-btn {
  width: 100%;
  position: absolute;
  top: 350px;
  text-decoration: none; }
  body .search-btn .btn-div {
    width: 725px;
    margin: auto;
    box-shadow: 0px 1px 10px white;
    border-radius: 5px;
    padding: 10px; }
    body .search-btn .btn-div i {
      color: white;
      font-size: 30px;
      padding: 0px 10px; }
    body .search-btn .btn-div input[type=text] {
      border: none;
      color: white;
      background-color: rgba(0, 0, 0, 0.535);
      font-family: Montserrat, sans-serif;
      margin-left: 10px;
      font-size: 20px;
      width: 500px; }
    body .search-btn .btn-div input:focus {
      outline: none; }

@media (max-width: 1024px) {
  body .search-btn {
    top: 300px; }
    body .search-btn .btn-div {
      width: 600px;
      margin: auto; }
      body .search-btn .btn-div input[type=text] {
        font-size: 18px; } }

@media (max-width: 768px) {
  body .img-div .book-image {
    height: 650px; }
  body .search-btn {
    top: 280px; }
    body .search-btn .btn-div {
      width: 500px; }
      body .search-btn .btn-div input[type=text] {
        width: 280px;
        padding: 0px;
        font-size: 16px; }
      body .search-btn .btn-div i {
        font-size: 22px;
        margin: 0px; } }

@media (max-width: 736px) {
  body .img-div .book-image {
    height: 550px; }
  body .search-btn {
    top: 220px; }
    body .search-btn .btn-div {
      width: 450px; }
      body .search-btn .btn-div input[type=text] {
        width: 240px; }
      body .search-btn .btn-div i {
        font-size: 20px; } }

@media (max-width: 425px) {
  body .img-div .book-image {
    height: 600px; }
  body .search-btn {
    top: 250px; }
    body .search-btn .btn-div {
      width: 320px; }
      body .search-btn .btn-div input[type=text] {
        width: 240px;
        font-size: 14px; }
      body .search-btn .btn-div i {
        font-size: 18px; } }

@media (max-width: 415px) {
  body .img-div .book-image {
    height: 600px; }
  body .search-btn {
    top: 250px; }
    body .search-btn .btn-div {
      width: 320px; }
      body .search-btn .btn-div input[type=text] {
        width: 240px; }
      body .search-btn .btn-div i {
        font-size: 15px; } }
