body .book-image {
  background-image: url("https://framerusercontent.com/images/pH8DlNGW1BQprXwH0NnpNT6R68I.jpg?scale-down-to=4096");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  body .book-image .search-btn {
    height: 700px;
    position: relative; }
    body .book-image .search-btn .btn-div {
      width: 100%;
      position: absolute;
      top: 35%; }
      body .book-image .search-btn .btn-div .search-bar {
        width: 750px;
        margin: 0px auto;
        box-shadow: 0px 1px 10px white;
        border-radius: 5px;
        padding: 10px; }
        body .book-image .search-btn .btn-div .search-bar i {
          color: white;
          font-size: 30px;
          padding: 0px 10px; }
        body .book-image .search-btn .btn-div .search-bar input[type=text] {
          border: none;
          color: white;
          background-color: rgba(0, 0, 0, 0.535);
          font-family: Montserrat, sans-serif;
          margin-left: 10px;
          font-size: 20px;
          width: 500px; }
        body .book-image .search-btn .btn-div .search-bar input:focus {
          outline: none; }

@media (max-width: 1024px) {
  body .book-image .search-btn .btn-div .search-bar {
    width: 650px; }
    body .book-image .search-btn .btn-div .search-bar input[type=text] {
      font-size: 18px;
      width: 500px; } }

@media (max-width: 768px) {
  body .book-image .search-btn .btn-div .search-bar {
    width: 500px; }
    body .book-image .search-btn .btn-div .search-bar i {
      font-size: 25px; }
    body .book-image .search-btn .btn-div .search-bar input[type=text] {
      font-size: 18px;
      width: 400px; } }

@media (max-width: 736px) {
  body .book-image .search-btn .btn-div .search-bar {
    width: 450px; }
    body .book-image .search-btn .btn-div .search-bar i {
      font-size: 20px; }
    body .book-image .search-btn .btn-div .search-bar input[type=text] {
      font-size: 16px;
      width: 350px; } }

@media (max-width: 414px) {
  body .book-image .search-btn .btn-div .search-bar {
    width: 300px; }
    body .book-image .search-btn .btn-div .search-bar i {
      font-size: 20px; }
    body .book-image .search-btn .btn-div .search-bar input[type=text] {
      font-size: 14px;
      width: 200px; } }
