$fontMonstserrat : Montserrat, sans-serif;
$fontInter : inter, sans-serif;
$fontManrope : manrope, sans-serif;
$fontOpenSans : open-sans, sans-serif;

body{

    .content{
        position: static;
        .top-nav {
            .right{
                a {
                    color: #000000;
                }
            }
        }
    }

    .sermon-div{

        h1{
            font-family: $fontMonstserrat;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            margin: 50px 0px;
        }
        h2{
            font-family: $fontMonstserrat;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            margin: 50px 0px;
        }

        .left-div{
            width: 95%;
            margin: auto;

            .search-center-bar{
                margin-bottom: 30px;

                .search-bar{
                    width: 650px;
                    background-color: #ffffff;
                    box-shadow: 0px 1px 10px #516AA4;
                    margin: auto;
                    padding:8px 10px;
                    border-radius: 12px;
                }
            
                i{
                    font-size: 25px;
                    margin: 0px 10px;
                }

                input{
                    border: none;
                    margin-left: 8px;
                    font-family: $fontMonstserrat;
                    font-weight: 300;
                    font-size: 24px;
                }
    
                input:focus{
                    outline: none;
                }

                p{
                    text-align: center;
                    margin: 20px;
                    font-family: $fontMonstserrat;
                    font-weight: 300;
                    font-size: 24px;
                }
            }
        }

        .align-col{
            padding: 10px;

            .filter-item{
                width: 70%;

                ul{
                    list-style-type: none;
                    margin: 0%;
                    padding: 0%;

                    li{
                        width: 100%;
                        height: 40px;

                        input[type="checkbox"] {
                            background-color: #fff;
                            appearance: none;
                            margin: 0;
                            width: 20px;
                            height: 20px;
                            border: 2px solid black;
                        }
                        label{
                            font-family: $fontMonstserrat;
                            font-size: 14px;
                            font-weight: 300;
                            margin:0px 10px;
                        }

                    }
                }
            }

            h4{
                font-family: $fontMonstserrat;
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0px;
            }

            .search-title{
                width: 100%;
                background-color: #ffffff;
                box-shadow: 0px 1px 10px #516AA4;
                margin-bottom: 20px;
                padding:8px 10px;
                border-radius: 12px;
                height: 44px;

                i{
                    margin-left: 10px;
                }

                input{
                    border: none;
                    margin-left: 8px;
                    font-family: $fontMonstserrat;
                    font-weight: 300;
                }
    
                input:focus{
                    outline: none;
                }
            }
            .search-speaker{
                width: 100%;
                background-color: #ffffff;
                box-shadow: 0px 1px 10px #516AA4;
                padding:10px;
                border-radius: 12px;
                margin-bottom: 20px;
                font-family: $fontMonstserrat;
                font-weight: 300;
            }
            
            .search-sermon-pages{
                list-style-type: none;
                margin: 0%;
                padding: 0%;

                li{
                    margin: 10px 0px;
                }
            }
        }
        .align-right-col{
            padding: 0px;

            p{
                margin: 0%;
                font-family: $fontMonstserrat;
                font-size: 20px;
                font-weight: 300;
            }

            .task-list{
                background-color: #ffffff;
                border-radius: 20px;
                margin: 15px 0px;
                padding: 20px;

                .left-card{
                    text-decoration: none;
                    color: #000000;
                }

                .task-title{
                    display: flex;
    
                    h5{
                        font-family: $fontMonstserrat;
                        font-weight: 600;
                        font-size: 20px;
                        width: 215px;
                        padding-right: 5px;
                        border-right: 2px solid black;
                    }
    
                    p{
                        font-family: $fontMonstserrat;
                        font-weight: 500;
                        font-size: 16px;
                        width: 200px;
                        padding: 0px 10px;
                    }
                }
                .sermon-date{
                    font-family: $fontMonstserrat;
                    font-weight: 500;
                    font-size: 16px;
                }

                .icon-media{
                    display: flex;
                    justify-content: right;
                    margin-top: 7px;

                    .media-icon-div{
                        box-shadow: 0px 1px 10px #7D419C;
                        border-radius: 5px;
                        cursor: pointer;
                        padding: 8px;
                        min-width: 25px;
                        min-height: 25px;
                        margin: 0px 5px;

                        img{
                            width: 25px;
                        }
                    }
                }
            }
        }
        .bottom-pagination{
            display: flex;
            justify-content: center;
            margin: 30px 0px;
        }

        .bottom-pagination nav div:first-child{
            display: none;
        }
    }
}

@media (max-width:1025px){
    body{

        .sermon-div{
            top: 150px;

            h1{
                font-size: 45px;
            }
            h2{
                font-size: 45px;
            }
            .align-col{
                width: 100%;
                h4{
                    font-size: 14px;
                }

                .search-speaker{
                    font-size: 14px;
                }
                .sep-col-div{
                    width: 500px;
                }

                .filter-item{
                    width: 50%;

                   ul{

                    li{
                        padding: 10px 0px;

                        label{
                            font-size: 20px;
                        }
                    }
                   }
                }
            }

            .align-right-col{
                width: 100%;

                .task-list{
                    padding: 17px;

                    .task-title{
                        h5{
                            font-size: 17px;
                        }

                        p{
                            font-size: 14px;
                        }
                    }

                    .sermon-date{
                        font-size: 14px;
                    }

                    .icon-media{

                        .media-icon-div{
                            padding: 6px;

                            img{
                                width: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    body{
        .sermon-div{
            top: 150px;

            h1{
                font-size: 40px;
            }

            h2{
                font-size: 40px;
            }

            .left-div{
                .search-center-bar{
                    .search-bar{
                        width: 500px;
                    }
                
                    p{
                        font-size: 20px;
                    }
                }
            }

            .align-col{
                width: 100%;

                .filter-item{
                    width: 50%;
                }

                h4{
                    font-size: 14px;
                }
            }

            .align-right-col{
                width: 100%;
                margin-left: 0%;

                .task-list{
                    padding: 17px;

                    .task-title{
                        h5{
                            font-size: 17px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    .sermon-date{
                        font-size: 14px;
                    }

                    .icon-media{
                        .media-icon-div{
                            padding: 6px;
                            img{
                                width: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:736px){
    body{
        .sermon-div{
            h1{
                font-size: 40px;
            }
            
            .left-div{
                .search-center-bar{
                    i{
                        font-size: 24px;
                    }
                    input{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width:685px){
    body{
        
        .sermon-div{
            h1{
                font-size: 35px;
            }
        }
    }
}

@media (max-width:425px){
    body{

        .sermon-div{
            h1{
                font-size: 30px;
            }

            .left-div{
                .search-center-bar{
                    input{
                        font-size: 20px;
                    }

                    .search-bar{
                        width: 100%;
                    }
                
                    p{
                        font-size: 16px;
                    }
                }
            }
            .align-col{
                .filter-item{
                    width: 100%;

                   ul{
                        li{
                            label{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .align-right-col{
                .task-list{

                    .task-title{
                        display: block;

                        h5{
                            border: none;
                        }
                        
                        p{
                            padding: 5px 0px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:376px){
    body{
        .sermon-div{
            .left-div{
                .search-center-bar{
                    .search-bar{
                        width: 100%;
                        
                        i{
                            margin-left: 0px;
                            font-size: 18px;
                        }

                        input{
                            font-size: 18px;
                        }
                    }
                
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}