body .search-screen-img #book-image {
  position: relative;
  height: 100%; }

body .content .top-nav .right a {
  color: #000000; }

body .sermon-div {
  position: absolute;
  width: 100%;
  top: 200px; }
  body .sermon-div h1 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 60px; }
  body .sermon-div h2 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px; }
  body .sermon-div .left-div {
    width: 95%;
    margin: auto; }
    body .sermon-div .left-div .search-center-bar {
      margin-bottom: 30px; }
      body .sermon-div .left-div .search-center-bar .search-bar {
        width: 650px;
        background-color: #ffffff;
        box-shadow: 0px 1px 10px #516AA4;
        margin: auto;
        padding: 8px 10px;
        border-radius: 5px; }
      body .sermon-div .left-div .search-center-bar i {
        font-size: 25px;
        margin: 0px 10px; }
      body .sermon-div .left-div .search-center-bar input {
        border: none;
        margin-left: 8px;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 24px; }
      body .sermon-div .left-div .search-center-bar input:focus {
        outline: none; }
      body .sermon-div .left-div .search-center-bar p {
        text-align: center;
        margin: 20px;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 24px; }
  body .sermon-div .align-col {
    padding: 10px;
    width: 300px; }
    body .sermon-div .align-col .filter-item {
      width: 100%; }
    body .sermon-div .align-col h4 {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0px; }
    body .sermon-div .align-col .search-title {
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0px 1px 10px #516AA4;
      margin-bottom: 20px;
      padding: 8px 10px;
      border-radius: 5px;
      height: 44px; }
      body .sermon-div .align-col .search-title input {
        border: none;
        margin-left: 8px;
        font-family: Montserrat, sans-serif;
        font-weight: 300; }
      body .sermon-div .align-col .search-title input:focus {
        outline: none; }
    body .sermon-div .align-col .search-speaker {
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0px 1px 10px #516AA4;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      font-family: Montserrat, sans-serif;
      font-weight: 300; }
    body .sermon-div .align-col .search-sermon-pages {
      list-style-type: none;
      margin: 0%;
      padding: 0%; }
      body .sermon-div .align-col .search-sermon-pages li {
        margin: 10px 0px; }
        body .sermon-div .align-col .search-sermon-pages li input[type="checkbox"] {
          background-color: #fff;
          appearance: none;
          margin: 0;
          width: 20px;
          height: 20px;
          border: 2px solid black; }
        body .sermon-div .align-col .search-sermon-pages li input[type="checkbox"]::before {
          width: 20px;
          height: 20px;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em var(--form-control-color);
          transform-origin: bottom left;
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); }
        body .sermon-div .align-col .search-sermon-pages li label {
          font-family: Montserrat, sans-serif;
          font-size: 14px;
          font-weight: 300;
          margin: 0px 10px; }
  body .sermon-div .align-right-col {
    width: 860px;
    padding: 0px;
    margin-left: 30px; }
    body .sermon-div .align-right-col p {
      margin: 0%;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 300; }
    body .sermon-div .align-right-col .list-pagination {
      margin-left: 15px; }
      body .sermon-div .align-right-col .list-pagination .pagin-display {
        padding: 0%; }
    body .sermon-div .align-right-col .task-list {
      background-color: #ffffff;
      border-radius: 5px;
      margin: 15px;
      padding: 20px;
      height: 101px; }
      body .sermon-div .align-right-col .task-list .task-title {
        display: flex;
        align-items: center; }
        body .sermon-div .align-right-col .task-list .task-title h5 {
          font-family: Montserrat, sans-serif;
          font-weight: 600;
          font-size: 20px; }
        body .sermon-div .align-right-col .task-list .task-title p {
          font-family: Montserrat, sans-serif;
          font-weight: 500;
          font-size: 16px;
          padding: 0px 5px; }
      body .sermon-div .align-right-col .task-list .sermon-date {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 16px; }
      body .sermon-div .align-right-col .task-list .icon-media {
        display: flex;
        justify-content: right;
        margin-top: 7px; }
        body .sermon-div .align-right-col .task-list .icon-media .media-icon-div {
          box-shadow: 0px 1px 10px #7D419C;
          border-radius: 5px;
          cursor: pointer;
          padding: 8px;
          min-width: 25px;
          min-height: 25px;
          margin: 0px 5px; }
          body .sermon-div .align-right-col .task-list .icon-media .media-icon-div img {
            width: 25px; }
  body .sermon-div .bottom-pagination {
    display: flex;
    justify-content: center; }

@media (max-width: 1025px) {
  body .sermon-div {
    top: 150px; }
    body .sermon-div h1 {
      font-size: 45px; }
    body .sermon-div .align-col {
      width: 250px; }
      body .sermon-div .align-col h4 {
        font-size: 14px; }
      body .sermon-div .align-col .search-speaker {
        font-size: 14px; }
      body .sermon-div .align-col .sep-col-div {
        width: 500px; }
    body .sermon-div .align-right-col {
      width: 690px; }
      body .sermon-div .align-right-col .task-list {
        height: 85px;
        padding: 17px; }
        body .sermon-div .align-right-col .task-list .task-title h5 {
          font-size: 17px; }
        body .sermon-div .align-right-col .task-list .task-title p {
          font-size: 14px; }
        body .sermon-div .align-right-col .task-list .sermon-date {
          font-size: 14px; }
        body .sermon-div .align-right-col .task-list .icon-media .media-icon-div {
          padding: 6px; }
          body .sermon-div .align-right-col .task-list .icon-media .media-icon-div img {
            width: 22px; } }

@media (max-width: 768px) {
  body .sermon-div {
    top: 150px; }
    body .sermon-div h1 {
      font-size: 40px; }
    body .sermon-div .align-col {
      width: 100%; }
      body .sermon-div .align-col .filter-item {
        width: 50%; }
      body .sermon-div .align-col h4 {
        font-size: 14px; }
      body .sermon-div .align-col .search-speaker {
        font-size: 14px; }
    body .sermon-div .align-right-col {
      width: 100%;
      margin-left: 0%; }
      body .sermon-div .align-right-col .task-list {
        height: 85px;
        padding: 17px; }
        body .sermon-div .align-right-col .task-list .task-title h5 {
          font-size: 17px; }
        body .sermon-div .align-right-col .task-list .task-title p {
          font-size: 14px; }
        body .sermon-div .align-right-col .task-list .sermon-date {
          font-size: 14px; }
        body .sermon-div .align-right-col .task-list .icon-media .media-icon-div {
          padding: 6px; }
          body .sermon-div .align-right-col .task-list .icon-media .media-icon-div img {
            width: 22px; } }

@media (max-width: 736px) {
  body .book-image {
    height: 1200px; }
  body .sermon-div h1 {
    font-size: 40px; } }

@media (max-width: 415px) {
  body .book-image {
    height: 1800px; }
  body .sermon-div h1 {
    font-size: 30px; }
  body .sermon-div .align-col .filter-item {
    width: 100%; }
  body .sermon-div .align-right-col .task-list {
    height: 160px; }
    body .sermon-div .align-right-col .task-list .task-title {
      display: block; }
      body .sermon-div .align-right-col .task-list .task-title p {
        padding: 5px 0px; } }
