$fontMonstserrat : Montserrat, sans-serif;
$fontInter : inter, sans-serif;
$fontManrope : manrope, sans-serif;
$fontOpenSans : open-sans, sans-serif;

body{

    .search-screen-img{
        .book-image{
            position: relative;
        }
    }

    .content{
        .top-nav {
            .right{
                a {
                    color: #000000;
                }
            }
        }
    }

    .sermon-div{
        position: absolute;
        width: 100%;
        top: 200px;

        h1{
            font-family: $fontMonstserrat;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 60px;
        }
        h2{
            font-family: $fontMonstserrat;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .left-div{
            width: 95%;
            margin: auto;

            .search-center-bar{
                margin-bottom: 30px;


                .search-bar{
                    width: 650px;
                    background-color: #ffffff;
                    box-shadow: 0px 1px 10px #516AA4;
                    margin: auto;
                    padding:8px 10px;
                    border-radius: 5px;
                }
            
                i{
                    font-size: 25px;
                    margin: 0px 10px;
                }

                input{
                    border: none;
                    margin-left: 8px;
                    font-family: $fontMonstserrat;
                    font-weight: 300;
                    font-size: 24px;
                }
    
                input:focus{
                    outline: none;
                }

                p{
                    text-align: center;
                    margin: 20px;
                    font-family: $fontMonstserrat;
                    font-weight: 300;
                    font-size: 24px;
                }
            }
        }
        .align-col{
            padding: 10px;
            width: 300px;

            .filter-item{
                width: 100%;
            }

            h4{
                font-family: $fontMonstserrat;
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0px;

            }

            .search-title{
                width: 100%;
                background-color: #ffffff;
                box-shadow: 0px 1px 10px #516AA4;
                margin-bottom: 20px;
                padding:8px 10px;
                border-radius: 5px;
                height: 44px;

                input{
                    border: none;
                    margin-left: 8px;
                    font-family: $fontMonstserrat;
                    font-weight: 300;
                }
    
                input:focus{
                    outline: none;
                }
            }
            .search-speaker{
                width: 100%;
                background-color: #ffffff;
                box-shadow: 0px 1px 10px #516AA4;
                padding:10px;
                border-radius: 5px;
                margin-bottom: 20px;
                font-family: $fontMonstserrat;
                font-weight: 300;
            }
            
            .search-sermon-pages{
                list-style-type: none;
                margin: 0%;
                padding: 0%;

                li{
                    margin: 10px 0px;

                    input[type="checkbox"] {
                        background-color: #fff;
                        appearance: none;
                        margin: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid black;
                    }
                    input[type="checkbox"]::before {
                        width: 20px;
                        height: 20px;
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em var(--form-control-color);
                        transform-origin: bottom left;
                        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                    }
                    label{
    
                        font-family: $fontMonstserrat;
                        font-size: 14px;
                        font-weight: 300;
                        margin:0px 10px;
                    }
                }
            }
        }
        .align-right-col{
            width: 860px;
            padding: 0px;
            margin-left: 30px;

            p{
                margin: 0%;
                font-family: $fontMonstserrat;
                font-size: 20px;
                font-weight: 300;
            }


            .list-pagination{
                margin-left: 15px;

               .pagin-display{
                padding: 0%;
               }
            }

            .task-list{
                background-color: #ffffff;
                border-radius: 5px;
                margin: 15px;
                padding: 20px;
                height: 101px;


                .task-title{
                    display: flex;
                    align-items: center;
    
                    h5{
                        font-family: $fontMonstserrat;
                        font-weight: 600;
                        font-size: 20px;
                    }
    
                    p{
                        font-family: $fontMonstserrat;
                        font-weight: 500;
                        font-size: 16px;
                        padding: 0px 5px;
                    }
                }
                .sermon-date{
                    font-family: $fontMonstserrat;
                    font-weight: 500;
                    font-size: 16px;
                }

                .icon-media{
                    display: flex;
                    justify-content: right;
                    margin-top: 7px;

                    .media-icon-div{
                        box-shadow: 0px 1px 10px #7D419C;
                        border-radius: 5px;
                        cursor: pointer;
                        padding: 8px;
                        min-width: 25px;
                        min-height: 25px;
                        margin: 0px 5px;

                        img{
                            width: 25px;
                        }
                    }
                }
            }
        }
        .bottom-pagination{
            width: 420px;
            margin: auto;

            .pagination{
                margin: 0%;
                padding: 0%;
                justify-content: center;
            
                li{
                    display: inline;
                    margin:0px 5px;
                    text-align: center;

                    img{
                        width: 25px;
                        height: 25px;
                    }

                    .num-high-light{
                        font-family: $fontMonstserrat;
                        font-size: 29px;
                        font-weight: bold;
                        text-decoration: none;
                        color: #00000083;
                    }

                    a{
                        font-size: 22px;
                        height: 20px;
                        text-align: top;
                    }

                    .rotate-img{
                        transform: rotateZ(180deg);
                    }
                }
            }
        }

    }
}

@media (max-width:1025px){
    body{
        .sermon-div{
            top: 150px;
            .align-col{
                width: 250px;

                h4{
                    font-size: 14px;
                }

                .search-speaker{
                    font-size: 14px;
                }
                .sep-col-div{
                    width: 500px;
                }
            }
            .align-right-col{
                width: 690px;
                .task-list{
                    height: 85px;
                    padding: 17px;

                    .task-title{
                        h5{
                            font-size: 17px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    .sermon-date{
                        font-size: 14px;
                    }

                    .icon-media{

                        .media-icon-div{
                            padding: 6px;
                            img{
                                width: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    body{
        .sermon-div{
            top: 150px;
            .align-col{
                width: 100%;

                .filter-item{
                    width: 50%;
                }
                h4{
                    font-size: 14px;
                }

                .search-speaker{
                    font-size: 14px;
                }
            }
            .align-right-col{
                width: 100%;
                margin-left: 0%;

                .task-list{
                    height: 85px;
                    padding: 17px;

                    .task-title{
                        h5{
                            font-size: 17px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    .sermon-date{
                        font-size: 14px;
                    }

                    .icon-media{

                        .media-icon-div{
                            padding: 6px;
                            img{
                                width: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:736px){
    body{
        .book-image{
            height: 1200px;
        }
    }
}

@media (max-width:415px){
    body{
        .book-image{
            height: 1800px;
        }

        .sermon-div{
            .align-col{
                .filter-item{
                    width: 100%;
                }
            }
            .align-right-col{
                .task-list{
                    height: 160px;
                    .task-title{
                        display: block;
                        p{
                            padding: 5px 0px;
                        }
                    }
                }
            }
        }
    }
}