$fontMonstserrat : Montserrat, sans-serif;
$fontInter : inter, sans-serif;
$fontManrope : manrope, sans-serif;
$fontOpenSans : open-sans, sans-serif;

body{
    .content{
        .top-nav {
            .right{
                a {
                    color: #000000;
                    font-weight: 900;
                }
            }
        }
    }

    .search-screen-img{
        height: 100%;
    }
    .sunday-page{
        position: absolute;
        top: 165px;
        width: 100%;

        h1{
            text-align: center;
            width: 100%;
            font-family: $fontMonstserrat;
            font-weight: bold;
            font-size: 50px;
            color: #000000;
            margin-bottom: 40px;
        }

        .clearfix{
            content: '';
            clear: both;
            display: table;
            width: 90%;
            margin: auto;

            .left{
                float: left;
                width: 28%;

                h4{
                    font-family: $fontMonstserrat;
                    font-size: 15px;
                    font-weight: 900;
                    margin-top: 20px;
                    color: #000000;
                }
                #search-title{
                    background-color: white;
                    border: 1px solid #999AA3;
                    font-family: $fontMonstserrat;
                    box-shadow: 0px 1px 15px #516AA4;
                    width: 300px;
                    padding: 4px 0px;
                    border-radius: 5px;
                    height: 44px;
                   
                    i{
                        margin: 0px 15px;
                    }
                    input{
                        border: none;
                        outline: none;
                        height: 33px;
                        width: 240px;
                    }
                }

                .search-speaker{
                    select{
                        width: 300px;
                        background-color: white;
                        border: 1px solid #999AA3;
                        box-shadow: 0px 1px 15px #516AA4;
                        padding: 6px 0px;
                        border-radius: 5px;
                        height: 44px;
                    }
                }

                .search-date{
                    select{
                        width: 300px;
                        background-color: white;
                        border: 1px solid #999AA3;
                        box-shadow: 0px 1px 15px #516AA4;
                        padding: 6px 0px;
                        border-radius: 5px;
                        height: 44px;
                        margin-bottom: 20px;
                    }
                }
            }

            .right{
                float: right;
                width: 68%;

                .right-clearfix{
                    content: '';
                    clear: both;
                    display: table;
                    width: 100%;
                    margin-top: 15px;

                    .right-left{
                        margin-top: 12px;
                        float: left;
                        width: 300px;
                        font-family: $fontMonstserrat;
                    }
                    .right-right{
                        float: right;
                        width: 170px;
                        font-family: $fontMonstserrat;
                        display: inline;

                        ul{
                            list-style-type: none;
                            margin: 0%;
                            padding: 0%;

                            li{
                                display: inline;
                                margin: 0px 5px;
                                text-align: center;

                                img{
                                    width: 22px;
                                    height: 22px;
                                }

                                a{
                                    font-size: 20px;
                                    text-decoration: none;
                                    color: #000000;
                                }

                                .num-high-light{
                                    font-size: 29px;
                                    font-weight: bold;
                                    color: #00000069;

                                }

                                .rotate-img{
                                    transform: rotateZ(180deg);
                                }
                            }
                        }
                    }
                }

                .search-titles{
                    height: 100px;

                    .sep{
                        padding: 15px 15px 15px 25px;
                        background-color: white;
                        height: 85px;
                        display: flex;
                        flex-direction: row;
                        border-radius: 10px;
                        font-family: $fontMonstserrat;

                        .sep-one{
                            float: left;
                            width: 210px;

                            h2{
                                font-size: 20px;
                                font-weight: 600;
                                text-align: left;
                                color: #000000;
                            }
                        }
                        .sep-two{
                            width: 365px;
                        }
                        .sep-three{
                            width: 175px;
                            display: flex;
                            flex-direction: row;

                            .media-icon-div{
                                padding: 7px;
                                margin: 7px;
                                box-shadow: 0px 1px 10px #7D419C;
                                border-radius: 5px;
                                cursor: pointer;

                                img{
                                    width: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination{
        width: 150px;
        margin: auto;
        ul{
            list-style-type: none;
            margin: 0%;
            padding: 0%;

            li{
                display: inline;
                margin: 0px 5px;
                text-align: center;

                img{
                    width: 22px;
                    height: 22px;
                }

                a{
                    font-size: 20px;
                    text-decoration: none;
                    color: #000000;
                }

                .num-high-light{
                    font-family: $fontMonstserrat;
                    font-size: 29px;
                    font-weight: bold;
                    color: #00000069;
                }

                .rotate-img{
                    transform: rotateZ(180deg);
                }
            }
        }
    }
}

@media (max-width:1024px){
    body{
        .search-screen-img{
            height: 1880px;
        }
        .sunday-page{
            h1{
                margin-bottom: 30px;
            }
            .clearfix{
                .left{
                    h4{
                        font-size: 14px;
                        margin-top: 10px;
                    }
                    #search-title{
                        width: 250px;
                        height: 40px;
                    
                        i{
                            margin: 0px 10px;
                        }
                        input{
                            border: none;
                            outline: none;
                            height: 33px;
                            width: 200px;
                        }
                    }

                    .search-speaker{
                        select{
                            width: 250px;
                            height: 40px;
                        }
                    }

                    .search-date{
                        select{
                            width: 250px;
                            height: 40px;
                        }
                    }
                }

                .right{
                    .right-clearfix{
                        margin-top: 0px;
                    }

                    .search-titles{
                        height: 100px;

                        .sep{
                            height: 80px;
                            .sep-one{
                                width: 250px;

                                h2{
                                    font-size: 17px;
                                }
                                p{
                                    font-size: 14px;
                                }
                            }
                            .sep-two{
                                width: 333px;
                                p{
                                    font-size: 14px;
                                }
                            }
                            .sep-three{
                                width: 175px;

                                .media-icon-div{
                                    img{
                                        width: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
}

@media (max-width:768px){
    body{
        .search-screen-img{
            height: 1880px;
        }
        .sunday-page{
            h1{
                margin-bottom: 30px;
            }
            .clearfix{
                .left{
                    display: none;
                    h4{
                        font-size: 14px;
                        margin-top: 10px;
                    }
                    #search-title{
                        width: 250px;
                        height: 40px;
                    
                        i{
                            margin: 0px 10px;
                        }
                        input{
                            border: none;
                            outline: none;
                            height: 33px;
                            width: 200px;
                        }
                    }

                    .search-speaker{
                        select{
                            width: 250px;
                            height: 40px;
                        }
                    }

                    .search-date{
                        select{
                            width: 250px;
                            height: 40px;
                        }
                    }
                    .search-icon{
                        display: none;
                    }
                }

                .right{
                    .right-clearfix{
                        margin-top: 0px;
                    }

                    .search-titles{
                        height: 100px;

                        .sep{
                            height: 80px;
                            .sep-one{
                                width: 250px;

                                h2{
                                    font-size: 17px;
                                }
                                p{
                                    font-size: 14px;
                                }
                            }
                            .sep-two{
                                width: 333px;
                                p{
                                    font-size: 14px;
                                }
                            }
                            .sep-three{
                                width: 175px;

                                .media-icon-div{
                                    img{
                                        width: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
}